
body {

}
p{
	font-family: Georgia;
  	line-height: 1.1;
  	font-weight: normal;
  	font-stretch: expanded;
  	font-variant: normal;
  	font-size: 15px;
}
h1{
	font-family: Georgia;
  	line-height: 1.3;
  	font-weight: bold;
  	font-stretch: expanded;
  	font-variant: normal;
  	font-size: 30px;
	
}

h2{
	
	font-family: Georgia;
  	line-height: 1.2;
  	font-weight: bold;
  	font-stretch: expanded;
  	font-variant: normal;
  	font-size: 23px;
}


table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 80%;
	background: #FBEFF5;
}

td{
	width: 33%;
}


.peticion{
	font-family: Georgia;
  	line-height: 1.4;
  	font-weight: normal;
  	font-stretch: expanded;
  	font-variant: normal;
  	font-size: 20px;
	
}

.consejo{
	font-family: sans-serif;
	font-style: italic;
  	line-height: 1.1;
  	font-weight: bold;
  	font-stretch: expanded;
  	font-variant: small-caps;
  	font-size: 13px;
}


.botonAconsejar{
	background-color:#FFCCF8;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#7F667C;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:26px;
	line-height:26px;
width:160px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}

.botonAconsejar:hover {
	background-color:#7F667C;
	color:#ffffff;
}


.miButton {
	background-color:#bddbfa;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:26px;
	line-height:26px;
width:160px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}

.miButton:hover {
	background-color:#80b5ea;
}

.miButton:active {
	position:relative;
	top:1px;